h2.unchecked{
  border-bottom: 1px solid #ddd;
  padding: 9px 10px 7px;
  background: #F6F5E7;
  text-decoration: none;
  color: #333;
  font-size: 16px
}
h2.checked{
  border-bottom: 1px solid #ddd;
  padding: 9px 10px 7px;
  background: #ffa500;
  text-decoration: none;
  color: #333;
  font-size: 16px
}
.flex{
  width:100%;
  height:auto;
  display:flex;
  flex-direction:row; /* 記載しなくてもデフォルトで指定されている */
  flex-wrap:wrap; /* 折り返し */
  justify-content:space-between; /* 子要素を均等に配置・両端揃え */
}
.pushbtn{
  background: #ffa500;
}